parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- app/
		- tests/
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	excludePaths:
		- app/Config/Routes.php
		- app/Views/*
	ignoreErrors:
		- '#Call to an undefined method CodeIgniter\\Database\\BaseBuilder::[A-Za-z]+\(\)#'
		- '#Call to an undefined method CodeIgniter\\Model::[A-Za-z]+\(\)#'
		- '#Call to an undefined static method Config\\Services::[A-Za-z]+\(\)#'
		- '#Cannot access property \$body on array\|object#'
	universalObjectCratesClasses:
		- CodeIgniter\Entity\Entity
		- Faker\Generator
		- Tatter\Handlers\BaseHandler
		- Tatter\Reddit\Structures\Thing
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
